
.ff-russo {
  font-family: 'Russo One', sans-serif;
}

.image-border {
  width: 200px;
  height: 250px;
  border: 2px solid purple;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0.5em 0.5em 0.5em -0.5em, rgba(119, 119, 119, 0.5);
}

.begin-button {
  width: 150px;
  background: rgb(206, 195, 169);
  border: none;
  outline: none;
  font-family: 'Russo One', sans-serif;
  font-size: 2rem;
}

.option-button {
  margin: 1em auto;
  padding: 1em;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background-color: goldenrod;
  color: #000;
  display: grid;
  place-content: center;
}

.poster {
  width: 100%;
  object-fit: cover;
}

.answered {
  margin: 1em auto;
  text-align: center;
  display: grid;
  place-content: center;
  border: 1px solid red;
}

.logged {
  color: purple;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  
}

.finalPoster {
  width: 80px;
}

.final-year,
.final-year-wrong {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin-bottom: 0;
  color: #f5f5f5
}

.final-year-wrong {
  color: red;
  text-decoration: line-through;
}

.tick {
  width: 40px;
  height: 40px;
}

.imdb-link:hover,
.imdb-link:focus {
  filter: contrast(1.75);
}

@media(min-width: 768px) {
  .image-border {
    width: 300px;
    height: 400px;
  }

  .buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .option-button {
    width: 150px;
    height: 150px;
  }
}
